@font-face {
    font-family: satvik;
    src: url(./assets/astroz-20260308T053244Z-3-001/astroz/Astroz\ Trial.ttf)
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif
}
body,html{
    width: 100%;
    height: 100%;



}
.hero{
    height: 100vh;
    width: 100%;
    background: rgb(10, 180, 149);
}
.nav{
    background-color: white;
    width: 70%;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    position: fixed;
    top: 10px;
    border-radius: 10px;
    top: 10px;
}
.logo{
    font-family: satvik;
}
.navbutton{
    display: flex;
    gap: 20px;
}
.browser{
    padding: 10px 15px;
    border-radius: 4px;
    border: 0;
    text-transform: capitalize;
    background-color: black;
    color: white;
    
}
.orders{
    padding: 10px;
    background-color: black;
    color: white;
    border: 0;
    text-transform: capitalize;
    border-radius: 4px;
}
.text{
    height: 300px; ;
    width: 100%;
    background-color: rgb(7, 168, 139);
}
.herovideo{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}